.container.testimonials__container {
    width: 40%;
    /* padding-bottom: 1rem; */
}

.client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
    background: var(--color-bg-variant);
    text-align: center;
    padding:2.2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

/* .swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
} */

/* .swiper {
    width: 50%;
    height: 50%;
  } */
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--color-primary);
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }


/* MEDIA QUERIES (MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
    .container.testimonials__container {
        width: 60%;
    }
}


/* MEDIA QUERIES (SMALL DEVICES */
@media screen and (max-width: 600px) {
    .container.testimonials__container {
        width: var(--container-width-sm);
    }

    .client__review {
        width: var(--container-width-sm);
    }
}
